<component name="ArtifactManager">
  <artifact type="war" name="springboot-generator:war">
    <output-path>$PROJECT_DIR$/springboot-generator/target</output-path>
    <root id="archive" name="springboot-generator.war">
      <element id="artifact" artifact-name="springboot-generator:war exploded" />
    </root>
  </artifact>
</component>